<meta charset="utf-8">
    <title>Admin-Salooja Clothing</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description"></meta>
    <link rel="stylesheet" href="/css/admin.css"></link>
    <script src="https://unpkg.com/lucide@latest"></script>
