
<button class="toggle-sidebar-btn" onclick="toggleSidebar()">☰</button>

<div class="sidebar">
  <h3>Admin Panel</h3>
  <ul>
  <li><a href="/admin/dashboard"><i data-lucide="pie-chart"></i> Dashboard</a></li>
  <li><a href="/admin/users"><i data-lucide="users"></i> Users</a></li>
  <li><a href="/admin/categories"><i data-lucide="layers"></i> Categories</a></li>
  <li><a href="/admin/products"><i data-lucide="box"></i> Products</a></li>
  <li><a href="/admin/orders"><i data-lucide="receipt-text"></i> Orders</a></li>
  <li><a href="/admin/inventory"><i data-lucide="warehouse"></i> Stock</a></li>
  <li><a href="/admin/coupons"><i data-lucide="ticket"></i> Coupons</a></li>
 <li> <a href="/admin/offers"><i data-lucide="percent-circle"></i> Offers</a></li>

  <li><a href="/admin/logout"><i data-lucide="log-out"></i> Logout</a></li>
</ul>


</div>


