


<div class="change-userpassword">




    <div class="password-container">

      <div class="text-center pt-1 ">
                    
                    <a class="text-muted" href="/forgot-password">Forgot password?</a>
                  </div>
    <h2>Change Password</h2>
    <% if (error) { %><p class="msg"><%= error %></p><% } %>
    <% if (success) { %><p class="msg success"><%= success %></p><% } %>

    <form action="/change-password" method="POST">
      <input type="password" name="currentPassword" placeholder="Current Password" required>
      <input type="password" name="newPassword" placeholder="New Password" required>
      <input type="password" name="confirmPassword" placeholder="Confirm New Password" required>
      <button type="submit" class="btn" style="background-color: #f06292;
      color: white;
      padding: 12px;
      border: none;
      border-radius: 12px;
      font-weight: 600;
      width: 100%;
      cursor: pointer;
      transition: background 0.3s ease;" >Update Password</button>
    </form>
  </div>
</div>