<!-- views/user/layout.ejs -->
<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/detailsHead') %>
  <body>
    <%- include('../partials/detailsHeader') %>


    <!-- Page-specific content will go here -->
    <%- body %>

    <%- include('../partials/detailsFooter') %>
  </body>
</html>
