<!-- views/user/layout.ejs -->
<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/userHead') %>
  <body>
    <%- include('../partials/userHeader') %>

    <!-- Page-specific content will go here -->
    <%- body %>

    <%- include('../partials/userFooter') %>
  </body>
</html>
